body {
    background-color: #3b3923;
    text-align: center;
    color: #d17a22;
    font-family:Georgia, 'Times New Roman', Times, serif
}

a {
    color: #843b62;
    text-decoration: none;;
}

a:hover {
    color: #b4c292;
    text-decoration: line;
}

a:visited {
    color: #736f4e;
    text-decoration:underline;
}

h2 {
    text-align: center;
}

ul {
    text-align: left;
}

#contract{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}