<nav>
    <a href="https://webpages.charlotte.edu/jarrolig/" target="_blank">Charlotte.edu</a> ~~ 
    <a href="https://github.com/JAArroliga/JAArroliga.github.io" target="_blank">GitHub repo</a> ~~
    <a href="https://jaarroliga.github.io" target="_blank">GitHub Pages</a> ~~
    <a href="https://www.freecodecamp.org/JArroliga" target="_blank">FreeCodeCamp Profile</a> ~~
    <a href="https://www.codecademy.com/profiles/JArroliga" target="_blank">CodeAcademy Profile</a> ~~
    <a href="https://www.linkedin.com/in/javier-alejandro-arroliga/" target="_blank">LinkedIn Profile</a>
</nav>
<p>Page Built by <a href="javierswebarchitects.org/index.html">Javier's Web Architects inc.</a>&copy; 2025</p>