<nav>
    <a href = "https://jaarroliga.github.io">GitHubPages</a>~
    <a href = "https://webpages.charlotte.edu/jarrolig/">CLT WebPage</a>~
    <a href = "itis3135/index.html">ITIS 3135 Home</a> ~
    <a href = "client_project/index.html">Client Project</a>
</nav>

<nav>
    <a href = "jollyaxolotl/index.html">Jolly Axolotl</a> ~
    <a href = "itis3135/javierswebarchitects.org/">Javier's Web Architects</a> ~
    <a href = "itis3135/CRAPPY/cR@PPy😐 .html">cR@PPy </a> ~
    <a href = "itis3135/websiteevaluation/website_evaluations.html">Website Evaluations</a>
</nav>